[submodule "third_party/linux"]
	path = third_party/linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
	branch = linux-6.19.y
	ignore = dirty # Ignore Modifies, our scripts shell create something dirty!
[submodule "third_party/busybox"]
	path = third_party/busybox
	url = https://github.com/mirror/busybox.git
	ignore = dirty # Ignore Modifies, our scripts shell create something dirty!